<div fxLayout="row" fxLayoutAlign="center">
    <div class="login-content mt-120" fxFlex="49" fxLayout="column">
        <img src="assets/images/avatar.svg">
        <h3 class="titleLogin">Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-div one">
                <div class="i">
                </div>
                <div>
                    <mat-form-field class="example-full-width" fxLayout="column">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                </div>
                <div>
                    <mat-form-field class="example-full-width" fxLayout="column">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" aria-label="LOG IN" class="loginbtn"
                [disabled]='!loginForm.valid'>
                Login
            </button>
        </form>
    </div>
</div>