<div fxLayout="row" fxLayoutAlign="center">
    <mat-card style="width: 800px;height: 500px;">
        <mat-card-header>
            <p style="position: absolute;">
                <button mat-icon-button routerLink='/dashboard/child'>
                    <mat-icon style="color: green;">arrow_back</mat-icon>
                </button>
            </p>
            <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-content style="padding-left: 50px;">
            <div fxLayout="row">
                <div class="" fxFlex="100%" fxLayoutGap="10px">
                    <div fxFlex="33%">
                        <h4> Name&nbsp;:&nbsp;Anurudh Ojha</h4>
                    </div>
                    <div fxFlex="33%">
                        <h4>Sex&nbsp;:&nbsp;Male</h4>
                    </div>
                    <div fxFlex="33%">
                        <h4>Date Of Birth&nbsp;:&nbsp;25/07/1998</h4>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div class="" fxFlex="100%" fxLayoutGap="10px">
                    <div fxFlex="33%">
                        <h4> Father's Name&nbsp;:&nbsp;Ashok Kumar Ojha</h4>
                    </div>
                    <div fxFlex="33%">
                        <h4>Mother's Name&nbsp;:&nbsp;Asha Ojha</h4>
                    </div>
                    <div fxFlex="33%">
                        <h4>State&nbsp;:&nbsp;Uttar Pradesh</h4>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div class="" fxFlex="100%" fxLayoutGap="10px">
                    <div fxFlex="33%">
                        <h4>City&nbsp;:&nbsp;Amethi</h4>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>