<div fxLayout="row" fxLayoutAlign="center">
    <mat-card class="example-card">
        <mat-card-content>
            <div fxLayout="row">
                <div class="" fxFlex="100%" fxLayoutGap="10px">
                    <div fxFlex="33%">
                        <h4> Name&nbsp;:&nbsp;Ramesh Prakesh</h4>
                    </div>
                    <div fxFlex="33%">
                        <h4>Origanization&nbsp;:&nbsp;Bal Vikas</h4>
                    </div>
                    <div fxFlex="33%">
                        <h4>Desgination&nbsp;:&nbsp;Cluster Cordinator</h4>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 20px;">
    <div fxLayout="row">
        <img src="assets/images/edu1.jpg">
    </div>
</div>