<div fxLayout="row wrap">
    <div style="padding-left: 100px;padding-top: 30px;">
        <mat-card class="example-card">
            <mat-card-content>
                <div class="example-button-container">
                    <button mat-fab disabled aria-label="Example icon" style="width: 70px;height: 70px;">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div style="padding-left: 150px;">
                    <form class="example-form" [formGroup]="addDistrictForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="example-full-width">
                            <mat-label>Select State Name</mat-label>
                            <mat-select name="state" formControlName="state" required>
                                <mat-option *ngFor="let state of states" [value]="state.value">
                                    {{state.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Enter District Name</mat-label>
                            <input matInput formControlName="district" placeholder="District name" required>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" type="submit" aria-label="Add"
                        [disabled]="!addDistrictForm.valid" class="submitBtn" (click)="onSubmit()">
                        Add District
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="padding-left: 100px;padding-top: 30px;" *ngFor='let districtState of stateDistrictList,let i= index'>
        <mat-card class="example-card">
            <mat-card-content>
                <div fxLayout="row">
                    <div class="" fxFlex="100%" fxLayoutGap="10px">
                        <div fxFlex="33%">
                            <div class="example-button-container">
                                <button mat-fab disabled aria-label="Example icon" style="width: 70px;height: 70px;">
                                    {{i+1}}
                                </button>
                            </div>
                        </div>
                        <div fxFlex="33%">
                            <div fxLayout="column">
                                <h4 fxFlex="50%" style="margin-left: 10px;margin-top: 30px;">{{districtState.district}}
                                </h4>
                                <h4 fxFlex="50%" style="margin-left: 10px;">{{districtState.district}}</h4>
                            </div>

                        </div>
                        <div fxFlex="33%">
                            <div>
                                <button mat-icon-button style="position: absolute;margin-left: 75px;margin-top: 25px;">
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>